.md-form input:focus:not([readonly]){border-bottom:1px solid #E78E17  !important;box-shadow:0 1px 0 0 #E78E17  !important}.md-form input:focus:not([readonly])+label{color:#E78E17 !important}.jumbotron{box-shadow:none !important}.orange-link{margin-top:1vh}.btn-default{padding-top:3.6% !important;text-transform:capitalize !important;font-size:16px !important}.time-sort-ul{list-style:none}.time-sort-li{display:inline;font-weight:bold}.time-sort-li .active{border-bottom:2px solid #E78E17}table#eventTable .btn{font-size:11px !important}#eventTable td{padding-top:.9% !important;padding-bottom:.9%;vertical-align:middle !important;text-align:center}#eventTable thead{text-align:center}#eventTable td:last-child{padding-right:2%}table#UserTable .btn{font-size:11px !important}#UserTable td{padding-top:.9% !important;padding-bottom:.9%;vertical-align:middle !important;text-align:center}#UserTable thead{text-align:center}#UserTable td:last-child{padding-right:2%}.pagination .page-item.active .page-link{background-color:#2bbbad0 !important}.time-sort-li-span{color:#E78E17;padding:.9% 3%;margin-left:-2.1%}.time-sort-li-span.active{color:black}.time-sort-li-span:hover{cursor:pointer}.orange-link:hover{color:#E78E17;text-decoration:underline}.reg-button{padding-top:10px !important;padding-bottom:10px !important;padding-right:25px !important;padding-left:25px !important}body{margin:0;padding:0}
#UserTable thead:last-child {
    display: none;
}
th.sorting:nth-child(4), th.sorting:nth-child(3)  {
    width: 14% !important;
}
.md-form {
    margin-bottom: 3rem !important;
}

.login-alert {
    width: 94% !important;
}
